/* Intro BG*/
.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: rgb(0, 0, 0) no-repeat 50% 50%;
    opacity: .9;
    background-size: cover;
}

.bg::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);
}

.bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%)
    
}

/* Intro content*/
.intro {    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);

    align-items: center;    
}


.intro__photo {
    border: 2px solid rgba(102, 135, 255, 0.5);
    border-radius: 50%;
    padding: 7px;
}


.intro__sign {
    font-size: 12px;
    font-style: italic;
    padding-top: 10px;
}

.intro__greeting {
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    padding-top: 20px;
}

.intro__description{    
    font-size: 16px;
    padding-top: 20px;
}

.intro__social-media {
    padding: 0;
    width: 240px;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.icon:hover {
    fill:#68f;
    transition: .3s ease;
}


@media (max-width: 450px) {
    .intro__greeting {
        font-size: 28px;
        padding-top: 1vh;
    }

    .intro__description {    
        font-size: 14px;
        padding-top: 1vh;
    }

    .intro__social-media {
        width: 200px;
        padding-top: 2vh;
    }
}


@media (min-width: 500px) and (max-height: 667px) {

    .intro { 
        display: flex; 
        flex-direction: row;
        justify-content: center;
    }

    .intro__greeting {
        font-size: 23px;
        padding-top: 4vh;
    }

    .intro__description {    
        font-size: 14px;
        padding-left: 3vh;
        padding-top: 10px;
        max-width: 780px;
    }

    .intro__social-media {
        width: 200px;
        padding-top:  0;
        margin: 0;
    }

}