/* Intro BG*/

.intro-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: rgb(0, 0, 0) no-repeat 50% 50%;
    opacity: .9;
    background-size: cover;
}

.intro-bg::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
}

.intro-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%)
    
}
/* Intro content*/

.content {    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.n {
    font-size: 12px;
    font-style: italic;
    padding-top: 10px;
}

.greeting {
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    padding-top: 30px;
}

.description{
    padding-top: 20px;
}

.social-media {
    padding: 0;
    width: 240px;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

#icon:hover {
    fill:#68f;
    transition: .3s ease;
}